.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 60%;
  margin-bottom: 20px;
}

.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 400px;
}


.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.carousel-caption h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.slide-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.slide-list ul {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.slide-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slide-list .slide-thumbnail {
  width: 30px;
  height: 30px;
}


input[type="text"] {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
